<!-- this part was created by chatgpt using the following question:
"i'm making a website using MVC. when i click on the portfolio page, i get a "not found" error. i have not made the other pages yet, only portfolio and home, so don't make the other ones yet. i'm using wamp and my project is in a subfolder called "portfolio-website". i have 3 maps, controllers, views and models.  views has a map thats called layouts, it has the header and the footer and then every page has it's own folder within views.
index.php:
<?php
require_once './controllers/PageController.php';

$request = $_SERVER['REQUEST_URI'];

$baseFolder = '/Portfolio-website';
$request = str_replace($baseFolder, '', $request);

$controller = new PageController();

// Routing logic
switch ($request) {
    case '/':
        $controller->home();
        break;
    case '/portfolio':
        $controller->portfolio();
        break;
    default:
        echo '404 Not Found';
}

pageController.php:
<?php
class pageController {
    public function home() {
        require './views/home/home.view.php';
    }
    public function portfolio() {
        require './views/portfolio/portfolio.view.php';
    }
}

header.php:
<nav>
                <a class="selected-page" href="/Portfolio-website">Homepage</a>
                <a href="/Portfolio-website/portfolio">Portfolio</a>
                <a href="/about">Over Mij</a>
                <a href="/contact">Contact</a>
            </nav>" -->
RewriteEngine On
RewriteBase /portfolio-website/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]