#project-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: 100%;
}
#project-img {
    width: 80%;
    height: 50vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 5px 5px 0px -1px rgba(74, 74, 74, 0.36);
    margin-top: 30px;
}
#project-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
#project-txt {
    width: 80%;
}

.shiny-text {
    margin: 0;
    padding: 0;
    width: fit-content;
    background: linear-gradient(90deg, #fca311 0%, #ffe7c1 35%, #fca311 65%, #ffe7c1 90%, #fca311 100%);
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    animation: gradient 3s linear infinite;
}

@keyframes gradient {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}